*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color:black;
}
.navbar{
  padding: 20px ;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.478);
  border-bottom: 1px solid black;
}
.navbar h1{
  color: rgb(179, 37, 37);
  
}
.navbar .links{
  margin:auto;
}
.navbar a{
  margin-left: 0;
  text-decoration: none;
  padding: 6px;
  transition: .2s ease;
  white-space: nowrap;
  margin: 1em;
}
.navbar a:hover{
  color: red;
text-decoration: none;
}
.content{
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}


/*blog previews or list */
.blog-preview{
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid black;
}
.blog-preview:hover{
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h2{
  font-size: 2em;
  color: red;
  margin-bottom: 8px;
}
.blog-preview a{
  text-decoration: none;
}

/*create new blog Form */
.create{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label{
  text-align: left;
  display: block;
}
.create h2{
  font-size:20px;
  color: black;
  margin-bottom: 30px;
}
.create input,.create textarea,.create select{
  width:100%;
  padding: 6px 10px;
  margin: 10px 0;
  border:1px solid whitesmoke;
  box-sizing: border-box;
  display:block;
}
.create button{
  background: black;
  color: white;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor:pointer;
  
}
/*blog details page*/
.blog-details h2{
  font-size: 20px;
  color: black;
  margin-bottom: 10px;
}
.blog-details div{
  margin:20px 0;
}
.blog-details button{
  background: black;
  color: white;
  border:0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}